@import "tailwindcss";

@theme {
  --color-minato-dark: #0a0a0a;
  --color-minato-panel: #111111;
  --color-minato-accent: #00ff41;
  --color-minato-text: #e5e5e5;
  --color-minato-dim: #404040;
  --color-minato-error: #ff3333;
  --color-neneko-light: #fff0f5;
  --color-neneko-pink: #ffb7c5;
}

@layer base {
  body {
    background-color: var(--color-minato-dark);
    color: var(--color-minato-text);
    font-family: monospace;
    overflow: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-left: 1px solid #222;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0px;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff41;
}

/* Animations */
@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

.animate-flicker {
  animation: flicker 4s infinite linear;
}